mixin review(slide)
  .review
    .review--wrapper
      .review--img_wrapper(data-flag!=slide.flag)
        picture
          source(srcset="img/"+slide.webp, type="image/webp")
          img.review--photo(src="img/"+slide.img, alt="Photo", loading="lazy")
      .review--text
        p.review--name.header__text!= slide.name 
          span.review--age!= slide.age
        p.review--city.text__orange!= slide.city
        h3.review--header.header__text!= slide.header
        p.review--text!= slide.text
-
  const reviewArray = [
    {
      webp: 'review__01.webp',
      img: 'review__01.png',
      name: 'Константин, ',
      age: '39 лет',
      city: 'г. Перьмь',
      header: 'Операция не понадобилась!',
      text: 'Грыжа у меня появилась около 2 лет назад в районе паха, начала выпирать. В поликлинике сказали, что ничего страшного, многие с этим живут, прописали мне таблеточки - толку правда от них никакого не было. Операцию я делать, конечно, не хотел, хоть меня и предупредили про риски ущемления грыжи. Ходил я так с этой пупыркой, ходил, иногда она побаливала. И вот мой товарищ из армии посоветовал мне хорошего травника - Григория Владимировича. Тот мне мазь дал, <span class="text__orange">Трауфрил</span>, сказал, что с этой мазью ущемления точно не будет. Мазал я чуть больше месяца, пупырка стала меньше. Через какое-то время повторил курс, и если сейчас посмотреть, то как будто и нет грыжи у меня. Думаю, что повторю ещё курс. Но операцию точно уже не придется делать.'
    },
    {
      webp: 'review__02.webp',
      img: 'review__02.png',
      name: 'Дарина, ',
      age: '28 лет',
      city: 'г. Краснодар',
      header: 'Я больше не боюсь защемления',
      text: 'Я три года ходила с пупочной грыжей, и постоянно боялась, что она может защемиться. А операции я боялась ещё больше. Иногда она болела, и каждый раз, я думала, что всё… Спасибо форуму, почитала про растительные препараты, нашла там <span class="text__orange">Трауфрил</span>. Прошла курс, грыжа больше не побаливает и стала меньше вроде, я больше не боюсь защемления.',
      flag: 'before_after'
    },
    {
      webp: 'review__03.webp',
      img: 'review__03.png',
      name: 'Леонид, ',
      age: '36 лет',
      city: 'г. Москва',
      header: 'Грыжа действительно становится меньше',
      text: 'Сложно жить мужчине с грыжей. Как ни крути, а часто приходиться поднимать тяжелое - несмотря на то, что при грыже это запрещено. Один раз игрались с пятилетним сыном, я поднял его и почувствовал боль в паху в районе грыжи. Слава богу, это не было защемление, но понервничать пришлось из-за этого конечно. Не хочется так жить, и постоянно бояться, что грыжу может защемить. Когда узнал про <span class="text__orange">Трауфрил</span> решил попробовать, хуже точно не будет. Почти уже прошел курс. Грыжа - меньше в два раза. Болей нет больше. Хороший препарат, рекомендую.'
    },
    {
      webp: 'review__04.webp',
      img: 'review__04.png',
      name: 'Жанна, ',
      age: '42 года',
      city: 'г. Владивосток',
      header: 'Грыжа затянулась в колечко и прошла',
      text: 'У сына была пупочная грыжа, думали делать операцию, но решили подождать. Знаете, страшно это, ребёнок он же ещё, всего 11 лет. Я постоянно нервничала, следила, чтобы он случайно что-то тяжелое не поднимал, а он же ребёнок, не понимает, что это серьезные вещи, не следит за этим. То сумки тяжелые возьмет, то с братом гантели потягает-подурачится. Я его ругала, но без толку. Нашла <span class="text__orange">Трауфрил</span> у знакомой травницы, она посоветовала, сказала, что как раз для пупочной грыжи подойдет. Мазали по два раза в день, и курса оказалось достаточно. Грыжа постепенно затянулась в колечко, и прошла. ',
      flag: 'before_after'
    },
    {
      webp: 'review__05.webp',
      img: 'review__05.png',
      name: 'Раиса, ',
      age: '49 лет',
      city: 'г. Псков',
      header: 'Действительно работают травы, это радует',
      text: 'Я врачам не очень доверяю, у них на всё одни методы - операция. Я считаю любые операции противоестественными. Пробовала избавиться от грыжи при помощи велосипеда и разных упражнений, но ничего не помогало. А от велосипеда еще хуже стало, я очень испугалась тогда.. Я начала читать кто чем лечится, какие компоненты помогают. И народную медицину пробовала - травки прикладывала - не помогла. Вот нашла в интернете <span class="text__orange">Трауфрил</span>, решила заказать, состав очень интересный, и тем более цена такая низкая, можно попробовать. Мазала его 30 дней, как указано в инструкции. Грыжа стала меньше, наверное раза в три где-то, её почти нет. Действительно работают травы, это радует.'
    },
    {
      webp: 'review__06.webp',
      img: 'review__06.png',
      name: 'Людмила, ',
      age: '54 года',
      city: 'г. Тольятти',
      header: 'Грыжа вот уже полгода не болит',
      text: 'Моя история началась более 10 лет назад с появлением послеоперационной грыжи  живота. И все эти годы я жила в постоянном страхе ущемления и более тяжелых последствий. Грыжа часто болела, иногда так сильно, что тяжело было ходить. Год назад , после долгих мучений, я решилась на операцию. Даже подготовила деньги, чтобы прооперироваться у хорошего хирурга. Но за неделю до операции узнала про <span class="text__orange">Трауфрил</span>, решила попробовать последнюю, так сказать, надежду. И препарат сработал! Грыжа вот уже полгода как не болит и стала почти незаметной - её размер уменьшился почти в три раза. Теперь думаю повторить курс для закрепления результата.',
      flag: 'before_after'
    },
    {
      webp: 'review__07.webp',
      img: 'review__07.png',
      name: 'Кристина, ',
      age: '35 лет',
      city: 'г. СПБ',
      header: 'Теперь не стесняюсь своего живота',
      text: 'Из-за пупочной грыжи мне было неловко показывать его, всегда носила одежду, которая закрывала эту уродливую опухоль. Вырезать, знаете, страшно, конечно, и я долго не решалась, потому что наслушалась историй страшных, какие последствия после операции. Спасибо моему брату, он нашел мне в интернете <span class="text__orange">Трауфрил</span>. Я мазала этим средством живот, и грыжа по чуть-чуть уменьшалась прямо на глазах. Сейчас спустя месяц её почти не видно, и я теперь не стесняюсь своего живота.',
      flag: 'before_after'
    },
    {
      webp: 'review__08.webp',
      img: 'review__08.png',
      name: 'Екатерина, ',
      age: '29 лет',
      city: 'г. Москва',
      header: 'Через неделю заметила, как грыжа уменьшается',
      text: 'Я особо врачей не слушала, которые меня пугали операцией над грыжей, что её резать, а то защемиться там что-то. Я вообще врачам не очень верю, они вечно любят пугать всех, лишь бы денег содрать. Так я спокойно себе ходила с грыжей где-то месяца три. А потом она начала побаливать, и чем дальше - тем хуже. Я поняла, что надо что-то делать, когда стало, простите, невозможно нормально сексом заниматься, потому что внизу живота было очень неприятно, отдавало куда-то в кишечник. Операцию я делать не хотела, таблетки, которые выписывали, я пить не хотела, поэтому начала искать на форумах, чем ещё можно лечить это. Так я нашла <span class="text__orange">Трауфрил</span>. Что я вам скажу - это находка! На вторую ночь после того, как начала им пользоваться, прошли неприятные ощущения, через неделю заметила, как грыжа уменьшается. Вот недавно закончила курс, сходила к терапевту своему, он не может поверить, как это я так быстро вылечилась.'
    },
  ];

section.reviews.block.bg
  .container
    h2.reviews--title.title.title--line Отзывы людей, которые победили грыжу с 
      span.text__orange Трауфрил
    .revievws--slider
      each slide in reviewArray
        +review(slide)